table{
	background: #fff;
	max-width: 100%;
  	margin-left: auto;
  	margin-right: auto;
}
th{
	height: 50px;
  	width: 200px;
  	text-align: center;
  	background-color: #98B4D4;
}
td{
	height: 50px;
  	width: 200px;
  	text-align: center;
}
.edit{
	background: #418eba;
	display: block;
	border: 2px solid none;
	padding: 5px 4px 5px 25px;
	outline: none;
	cursor: pointer;
	border-radius: 10px;
	margin-left: 1%;
	position: absolute;
}
.delete{
	background: #de4935;
	display: block;
	border: 2px solid none;
	padding: 5px 4px 5px 25px;
	outline: none;
	cursor: pointer;
	border-radius: 10px;
	margin-left: 40%;
}
.h12{
	margin-left: 180px;
	margin-top: 5px;
}
img{
	width: 20px;
	height: 20px;
	position: absolute;
	margin-left: -20px;
	margin-top: -3px;
}
a{
	text-decoration: none;
}
p{
	position: absolute;
	margin-top: -10px;
	margin-left: 45px;
}