body{
    margin: 0;
    background: #243b55;
}
ul{
    padding: 0;
    list-style: none;
    background: rgba(0,0,0,0.6);
    border: 2px solid #EBECF1;
    border-radius: 30px;
}
ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
    margin-left: 15%;
}
ul li a{
    display: block;
    padding: 8px 25px;
    color: #2375D8;
    text-decoration: none;
}
ul li a:hover{
    color: #F9F8FD;
    background: #EC4138;
    border-radius: 5px;
}
h1{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 36%;
    margin-top: -1px;
}