table{
	background: #fff;
	max-width: 100%;
  	margin-left: 10px;
  	margin-right: 10px;
}
th{
	height: 50px;
  	width: 200px;
  	text-align: center;
  	background-color: #98B4D4;
}
td{
	height: 50px;
  	width: 200px;
  	text-align: center;
}
h2{
	color: darkgoldenrod;
}