table{
	background: #fff;
	max-width: 100%;
  	margin-left: auto;
  	margin-right: auto;
}
th{
	height: 50px;
  	width: 200px;
  	text-align: center;
  	background-color: #98B4D4;
}
td{
	height: 50px;
  	width: 200px;
  	text-align: center;
}
button{
	background: #f2e604;
	display: block;
	border: 2px solid none;
	padding: 5px 4px 5px 25px;
	outline: none;
	cursor: pointer;
	border-radius: 10px;
	margin-left: 15%;
}
.h12{
	margin-left: 180px;
	margin-top: 5px;
}
img{
	width: 20px;
	height: 20px;
	position: absolute;
	margin-left: -20px;
	margin-top: -3px;
}
a{
	text-decoration: none;
}
input{
    width:20%;
    padding:5px;
    margin-bottom: 15px;
    margin-left: 180px;
    margin-top: -20px;
}
.b1{
	position: absolute;
	margin-left: 31%;
	margin-top: -3%;
	background: #fff;
	border: 0px;
	background-color: transparent;
}
form{
	margin-top: 30px;
}
p{
	position: absolute;
	margin-top: -10px;
	margin-left: 30px;
}